  html,
        body,
        .map {
            overflow: hidden;
            font-family: 'Hammersmith One', sans-serif;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
        .content {
            position: fixed;
            width: 50%;
            margin-left: 50%;
            margin-top: 1%;
            top: 0;
            left: 0;
        }
        .inclass > * {
            margin-left: -50%;
            width: 100%;
            text-align: center;
        }
        [contenteditable="true"] {
            border-bottom: 2px dashed #000;
        }
        [contenteditable="true"]:hover {
            outline: 2px dashed #000;
            border-bottom: none;
        }
        #selecter {
            font-family: 'Hammersmith One', sans-serif;
            /*font-size: 2em;*/
            background: none;
            border-bottom: 2px dashed #000;
        }
        #selecter:hover {
            /*font-size: 2em;*/
            outline: 2px dashed #000;
            border-bottom: none;
        }
        #infobox {
            overflow-y: auto;
            position: absolute;
            font-size: 0.7em;
            top: 10px;
            left: 10px;
            width: 25%;
        }
        #visainfo {
            position: absolute;
            font-size: 0.7em;
            top: 10px;
            right: 10px;
            background-color: white;
            padding: 4px;
        }
        .inner {
            background-color: white;
            padding: 10px;
        }
        .inner:empty {
            display: none;
        }
        @-webkit-keyframes loaderSprite {
            from {
                background-position: 0px;
            }
            to {
                background-position: -2500px;
            }
        }
        @-moz-keyframes loaderSprite {
            from {
                background-position: 0px;
            }
            to {
                background-position: -2500px;
            }
        }
        @keyframes loaderSprite {
            from {
                background-position: 0px;
            }
            to {
                background-position: -2500px;
            }
        }
        .loader {
            top: 10px;
            left: 10px;
            width: 100px;
            height: 100px;
            background-image: url("img/ajax.png");
            -webkit-animation: loaderSprite 1s steps(25, end) infinite;
            -moz-animation: loaderSprite 1s steps(25, end) infinite;
            animation: loaderSprite 1s steps(25, end) infinite;
        }